[2014-03-20 02:35] bryanjos opened #1 "Implement Encoding and Decoding of WKT and EWKT Multilinestrings"
Tests already written. Just have to implement

[2014-03-20 02:35] bryanjos opened #2 "Implement Encoding and Decoding of WKT and EWKT Multipolygons"
Test written. Just implement

[2014-03-20 02:36] bryanjos opened #3 "Implement Encoding and Decoding of WKB and EWKB Multilinestrings"
Test written. Just implement

[2014-03-20 02:37] bryanjos opened #4 "Implement Encoding and Decoding of WKB and EWKB Multipolygons"
Test written. Just implement

[2014-03-20 02:38] bryanjos opened #5 "Add support for Geometry Collections"
Implement as a list of geometries. For the example of GeoJson,

[code]

Would become

[code]

Same for decoding of WKT and WKB

[2014-03-20 02:38] bryanjos opened #6 "Add encoding and decoding of GeoJSON"

[2014-04-06 16:56] #1 closed, assigned to nobody

[2014-04-06 16:56] #2 closed, assigned to nobody

[2014-04-06 16:56] #3 closed, assigned to nobody

[2014-04-06 16:56] #4 closed, assigned to nobody

[2014-04-06 21:57] #6 closed, assigned to nobody

[2014-04-08 18:02] #5 closed, assigned to nobody

[2014-08-28 02:32] bryanjos opened #7 "Create Encoder, Decoder, and Formatter for use with Postgrex for PostGIS data types"
Pretty much the reason I wrote this library. Created an encoder, decoder, and formatter for use with Postgrex in the Geo.Postgrex module. It works as I initially tested them in a fork of Postgrex, but I haven't wrote tests for them in this project yet.

[2014-08-28 18:27] #7 closed, assigned to bryanjos

[2014-11-16 19:35] bryanjos opened #8 "Set Operations on Geometries"
I've been thinking about this one for a while. Adding set operations such as contains, intersects, etc. Some of the math can get complicated.

[2014-11-16 19:36] bryanjos opened #9 "Make Postgis module a separate library?"
I don't like having postgrex as a dependency and I'm wondering if I should make that part a separate library.

[2014-11-17 13:56] #9 closed, assigned to nobody

[2014-11-17 15:22] bryanjos opened #10 "Complete documentation"
Document the public API.

[2014-11-18 00:03] #10 closed, assigned to bryanjos

[2015-02-12 16:48] jxs opened #11 "decoding MultiPolygon"
Hi there, i am having errors decoding MultiPolygon, either with ecto
[code]
and with Geo.WKB.decode

[code]

thanks for the lib :)

[2015-02-12 17:12] bryanjos commented on #11
Thanks for letting me know. I've committed the fix and updated the hex version as well to 0.11.1

[2015-02-12 17:33] jxs commented on #11
`Geo.WKB.decode` works now :) , but still having troubles querying from the MultiPolygon field

[code]

on the Location model, i have:

[code]

thanks

[2015-02-12 18:23] bryanjos commented on #11
Sorry, I'll have to look into that one tonight when I get a bit more time. Looks like it's not calling the wkb decode function somewhere.

[2015-02-13 02:09] bryanjos commented on #11
It seems I didn't correctly fix the previous issue. I have resolved it for real this time and updated the version in hex to 0.11.2.

[2015-02-13 13:52] jxs commented on #11
sorry, still having the same error with 0.11.2
[code]

[2015-02-13 15:53] bryanjos commented on #11
That's weird. I'll check it in a test project and see if I get the same result. I wrote a test for this exact case in tests/geo/ecto_test.exs and thought I resolved it.

[2015-02-13 17:10] bryanjos commented on #11
I created a test project using the geo 0.11.2, ecto 0.8.1, and postgrex 0.7.0, created some models, one with a Geo.MultiPolygon column, ran some tests where I create a Geo.MultiPolygon from the WKB string given, insert the model into the database and ran a query exactly like the one given and I wasn't able to reproduce the issue. I'll keep trying to see if I can break it and see if I can come up w

[2015-02-13 19:23] jxs commented on #11
yeah, if i run the tests, they pass, but on the project i am using geo, i am also not able to encode and insert into the db, very weird, i am going to look into it
[code]

thanks a lot for your support

[2015-02-13 19:46] jxs commented on #11
seen the problem!
I was configuring the encoder decoder and formatter in the wrong place (in the repo module instead of config.ex)

thanks :)

[2015-02-13 19:46] #11 closed

[2015-02-13 20:55] bryanjos commented on #11
Glad it works now!

[2015-03-27 14:26] bryanjos opened #12 "Add PostGIS functions for use in Ecto Queries"

[2015-04-26 18:23] bryanjos commented on #12
The OpenGIS Functions have been added in https://github.com/bryanjos/geo/pull/13

[2015-05-15 15:26] apeacox opened #15 "Postgrex.Error: ERROR (undefined_object): type "geometry" does not exist"
Hi there, I'm new to Elixir world :)

I'm trying to play with Phoenix framework, Ecto and Postgres. I needed geolocation and I've found this package. I've added dependencies to `mix.exs`:

[code]

configured database:

[code]
then I've created the migration migration:

[code]

but when I run `mix ecto.migrate` I get this error:

[code]

I'm almost sure I'm missing something right away, can someone

[2015-05-15 16:01] apeacox commented on #15
as an update, I've also tried to use the git master (and done the new changes to configs), but I get the same error.

[2015-05-15 16:38] bryanjos commented on #15
From the error it looks like it could be that postgis isn't enabled for the database you are using. In psql or whatever admin app you are using for postgres you should run the command 'create extension postgis;' and then try again. I think that's the command. I'm going off memory at the moment.

[2015-05-15 23:03] apeacox commented on #15
Thank you for the hint! :-)

for reference, here's a solution (and the right postgres syntax), I've created a migration:

[code]

I'd suggest to put this in the README, it might be useful for others :P

[2015-05-16 13:33] bryanjos commented on #15
No problem. And yes, I should add that to the docs. I should also start doing it in a migration myself. I've been doing it the old fashioned way

[2015-06-19 11:08] arthurcolle opened #18 "Confused about how to use st_within"
Hi, I have a User model that has a `field :loc, :geometry` and I have the earthdistance, cube and postgis extensions working on my PG database. I'm confused on how to actually use the st_distance.

I want to be able to return all users within X miles(or km) of a particular user, given that they have inputted their address and I converted them to lat/long via Google's geocoder library.

I tried to

[2015-06-19 13:35] bryanjos commented on #18
Hi,

If you're getting from/2 is not a function, make sure you have imported Ecto.Query.

I added a test of the example in the docs that should give you an idea.
https://github.com/bryanjos/geo/blob/master/test/geo/ecto_test.exs#L71-L89

As for your actual query, I think it would look something like this:
[code]

I haven't tested it but that's about the gist of it. Of the top of my head I can't re

[2015-06-22 01:45] arthurcolle commented on #18
Is it just iterating through all users and checking whether the latitude longitude of the origin is within the distance? Or is there some kind of fancy data structure that makes it more efficient than that?

[2015-06-22 13:32] bryanjos commented on #18
The macros created in Geo.PostGIS only wrap fragments that add the corresponding functions in PostGIS to the Ecto queries. So the database handles it all. I'm not sure how PostGIS implements ST_Distance.

You can find more info about ST_Distance at the link below
http://www.postgis.org/docs/ST_Distance.html

[2015-06-23 13:55] #18 closed

[2015-07-19 19:39] bkoltai opened #19 "(ArgumentError) no extension found for oid '8661175'"
I recently started working on a Phoenix app that shares a Postgres DB with an existing Rails app. The Rails app has a table that I am trying to also access in the Phoenix app called `drivers`, which has a `geo_location` column that is a PostGIS point.

Rails `schema.rb`:
[code]

The Rails app has been working fine with this in development, the `geo_location` correctly gets stored and the PostGIS e

[2015-07-19 20:51] bkoltai commented on #19
I've done a little digging and found out that the `geo_location` column is stored as a `geography` in PG. I assume this is why the error is occurring.

Is it hard to support both `geometry` and `geography` types? I'd try to submit a PR for this, but not sure I understand the concepts enough to do it properly.

[2015-07-19 22:51] bryanjos commented on #19
Ah, yes the geography data type isn't yet supported, but doing a quick search I see that they are related and it might not be much work to add support for it. The basic idea would be to add another struct for geography, add more pattern matched functions in geo.postgis.extension and add another ecto type for geography. I think most of it would be copying what is there for geometry. I say that with

[2015-07-19 23:05] bryanjos commented on #19
Ok, yeah it won't be a big deal to add support for it. Since geographies are basically just geometries, they could both use the Geometry struct for the time being if that won't be too confusing?

[2015-07-19 23:07] bkoltai commented on #19
Yeah, that sounds reasonable. Thanks for looking into it.

[2015-07-19 23:16] bryanjos commented on #19
I just updated master with the change.

You can update the geo dep to use the version from github for now to see if it works out for you
[code]

[2015-07-19 23:19] bkoltai commented on #19
Like a charm! Thanks for the fast turn around.

[2015-07-19 23:26] bryanjos commented on #19
Awesome! I'll update the docs and put another version into hex pretty soon as well.

[2015-07-19 23:26] #19 closed

[2015-07-19 23:40] #15 closed

[2015-07-19 23:41] bryanjos commented on #19
Fyi, I updated the version in hex with the change
{:geo, "~> 0.14.0"}

[2015-07-20 00:04] bkoltai commented on #19
Great, thanks.

[2015-07-20 20:38] bkoltai opened #21 "Cannot JSON encode a point"
I am trying to return a model that has a `Geo.Point` attribute, and am getting the following Poison error:

[code]

What is the proper way to JSON encode a `Geo.Point`?

[2015-07-20 20:49] bryanjos commented on #21
Ah yeah I don't think Poison works with tuples. If you just want the points, you can turn to tuple into a list and encode that. Or if you want geojson you can use Geo.JSON.encode and pass in the point struct

[2015-08-07 17:04] alkamin opened #24 "Embedding encoded GeoJSON in another JSON object"
I am forming a response as such:

[code]

The resulting response has the GeoJSON object wrapped in double quotes, which causes all the double quotes within the object to be escaped, since the whole thing is being re-encoded by Poison on the way out.  I did a quick test and added an additional function to `geo_json.ex`:

[code]

which solved the problem.

Instead of the hack, what would be the reco

[2015-08-07 18:39] bryanjos commented on #24
I ran into similar issues recently actually and I did some not so nice things too. There should be a change here to account for it.

I think there could be a couple of ways to handle this:

  Option 1. Remove the json encoding altogether, remove the dependency on Poison and users of geo would have to bring their own json parser. I like this because it makes it so someone could use whatever json li

[2015-08-07 20:02] alkamin commented on #24
I think the option to bypass the json encoding may be the easiest all around, but option 1 seems like the 'right' way as it also eliminates a dependency.

[2015-08-08 00:08] bryanjos commented on #24
Yeah I'm leaning that way too. I'll try to put something together between today and tomorrow

[2015-08-08 14:19] bryanjos commented on #24
@alkamin Removing the json encoding got a bit messy, so I went for option 2. Before 1.0 I may go for option 1 though. If it looks ok, I can merge it and publish it later today

[2015-08-10 15:28] alkamin commented on #24
It looks good to me, thanks for quickly addressing this!

[2015-08-10 16:20] bryanjos commented on #24
No problem. I just updated the version in Hex. 0.15.2

[2015-08-10 16:20] #24 closed

[2015-08-21 06:20] knrz opened #26 "Add the ability to cast values"
I'd like to be able to do:

[code]

I'm probably going to have some free time next week to start working on it

[2015-08-21 13:18] bryanjos commented on #26
Sounds good! I never really use the geography data type so I'm interested to see how it works. I just assumed those would work the same for geographies but I guess not.

[2015-08-27 20:44] ramky opened #27 "geo does not compile"
I am working on OS X Yosemite, Version 10.10.4.  Elixir version 1.0.5  I am trying to compile geo and it hangs.

mix.exs is as follows

defmodule Geo1.Mixfile do
  use Mix.Project

  def project do
    [app: :geo1,
     version: "0.0.1",
     elixir: "~> 1.0",
     build_embedded: Mix.env == :prod,
     start_permanent: Mix.env == :prod,
     deps: deps]
  end

  def application do
    [applicatio

[2015-08-27 20:58] bryanjos commented on #27
Hi, I was able to reproduce it. It's failing because the postgrex dependency is optional (my fault). If you add postgrex as a dependency for now, it should compile. I'll have to take a look and see if there is something I'm doing wrong or if postgrex needs to become a dependency.

[2015-08-27 22:42] bryanjos commented on #27
@ramky I just updated the version to include the postgrex dependency. You should be able to just include geo now

`{:geo, "~> 0.16.1"}`

[2015-09-02 16:05] ramky commented on #27
It works now, thanks much.

[2015-09-02 16:05] #27 closed

[2015-10-13 15:00] #21 closed

[2015-10-13 15:00] #12 closed

[2016-01-12 17:50] bryanjos commented on #8
I don't think this is going to happen anytime soon. Closing

[2016-01-12 17:50] #8 closed

[2016-01-12 17:51] bryanjos commented on #26
@knrz is this still an issue for you?

[2016-01-13 14:05] knrz commented on #26
It was, but I hard-coded the SQL in my project. I'm busy for a while though, and have no further work that needs the ability to cast.

[2016-01-30 02:00] aphillipo opened #30 "Upgrade :poison to version 2?"
Might as well get the latest version of poison?

No worries if you know of reasons not to do this...

[2016-02-01 02:50] #26 closed

[2016-02-01 02:58] bryanjos commented on #30
It would conflict with ecto's dependency on it which still is for 1.0. And since geo only uses poison when setting up the ecto types, it doesn't make sense right now.

[2016-02-01 03:40] bryanjos commented on #30
Looks like the version can be updated using an or (i took a look at how ecto is currently handling it). I need to update the postgrex dependency as well. I'll publish a new version tonight.

[2016-02-01 03:44] bryanjos commented on #30
Updated https://hex.pm/packages/geo

[2016-02-01 03:44] #30 closed

[2016-02-18 19:42] YurkoHoshko opened #31 "No extension found"
Hi.

Tried to play around with geographic location using your library. In development mode everything is ok, but once release was build in prod mode using exrm I started receiving following error:
`Request: POST /api/reviews
** (exit) an exception was raised:
    ** (ArgumentError) no extension found for oid `17031`
        (postgrex) lib/postgrex/types.ex:298: Postgrex.Types.fetch!/2
        (pos

[2016-02-18 22:15] bryanjos commented on #31
I'm not exactly sure. It sounds like it should work. I don't have much experience with exrm yet unfortunately. It could be related to the configuration. I'm just not sure, but I'll dig around and see if there is something to resolve the issue.

[2016-02-19 09:41] YurkoHoshko commented on #31
Hi @bryanjos.
I fixed this issue. Just got latest exrm, explicitly specified geo in applications and recompiled project.
Sorry for inconveniences.

[2016-02-19 09:41] #31 closed

[2016-03-08 21:34] zmoshansky opened #33 "Support/Add Docs about Postgis GIS Objects in Migrations"
First, thank you very much for this library!

AFAIK, Geo doesn't migrations with advanced types like `geometry(Point,4326)` etc. If that's correct, some documentation on how to use/drawing attention to the abilities of Postgis GIS Objects with Geo would be very helpful (for newcomers like myself....).

#### Postgis Migrations Example
To add a basic geometry type in a migration:
[code]

Or, if you

[2016-03-08 22:04] bryanjos commented on #33
Hi! You are correct on the advanced types (unless Ecto does support it and I don't know the correct syntax). I can add some documentation around migrations

[2016-03-09 19:45] bryanjos commented on #33
Actually @zmoshansky could I use the text you have here? Or maybe you can do it in a PR on the README?

[2016-03-09 22:39] #33 closed

[2016-06-17 10:55] asiniy opened #38 "(ArgumentError) no extension found for oid `31600`"
Hey! I think, this issue should be placed here.

I'm trying to store geometry object to database. Unfortunately, I meet this kind of error.

[code]
I have a geo `1.0.4`. What's going wrong?

[2016-06-17 11:07] philipgiuliani commented on #38
Have you enabled the Postgis extension?

From README:

[code]

[2016-06-17 11:36] asiniy commented on #38
Yeah, solved. Just push

[code]

to your repo config.

[2016-06-17 11:36] #38 closed

[2016-06-22 23:13] benwilson512 opened #40 "Elixir 1.3 Warnings"
Hey!

Just upgraded to Elixir 1.3, and there's a fair number of warnings, largely about imperative `if` cases. Happy to look into doing a PR, just thought I'd note it down here first.

Thanks!

- Ben

[2016-06-22 23:45] bryanjos commented on #40
Hi! I'm sure there are a bunch. A PR would definitely be appreciated. I've been going through my other projects since 1.3 was released and fixing the warnings in those.

[2016-06-23 14:14] bryanjos commented on #40
Small warning: A lot of the code, especially in wkt, wkb, and utils were written when I was still an Elixir newbie and before Elixir 1.0. It might not be fun to look at 😄 . They are on my eventual list to improve.

[2016-06-23 14:15] benwilson512 commented on #40
No problem, I know I sure have plenty of code like that too :)

On Thursday, June 23, 2016, Bryan Joseph <notifications@github.com> wrote:

[2016-06-24 22:40] #40 closed

[2016-07-06 13:42] bryanjos opened #43 "Investigate using more than one geometry type for a column"
This is an issue to check if it is possible to insert more than one type (point, line, etc) into a column when using geo with an Ecto schema. If it is currently possible, document how to. If it is not currently possible, come up with a plan to make it so.

[2016-07-08 19:32] jerel commented on #43
What about a `Geo.Geometry` field type that accepts any of the valid geometries instead of just one type? I'm not having any luck getting this to work with the existing fields.

[2016-07-09 15:01] bryanjos commented on #43
Yeah that's what I'm thinking too.
https://hexdocs.pm/ecto/Ecto.Type.html

I'm thinking maybe making one custom ecto type that accepts any of the geo types may do the trick. I can give it a shot later today hopefully.

[2016-07-09 18:52] bryanjos commented on #43
Updated geo to 1.1
https://hex.pm/packages/geo

In this version there is `Geo.Geometry`. Use that in your Ecto schema to allow multiple types of geometry in a single field. I updated the README to show using it.

[2016-07-09 18:52] #43 closed

[2016-07-09 18:53] bryanjos commented on #43
@jerel let me know if that works for you

[2016-07-11 13:27] jerel commented on #43
@bryanjos this works fantastic! Thanks so much for adding it in

[2016-07-19 08:05] acrolink opened #44 "Getting error "no function clause matching in Geo.JSON.do_encode/1" when trying to pretty print an object"
I am trying to print an object inside a view template with:

[code]

but I am getting the error:

[code]

What is going on here? Thanks.

[2016-07-19 14:19] bryanjos commented on #44
What exactly is `@policies`? If it isn't one of the supported types, then Geo will not be able to encode it.

https://github.com/bryanjos/geo/blob/master/lib/geo/geo_json.ex#L112-L164

Saying that, I think I will make another function head that covers everything else and throws an error if it isn't one of the Geo types

[2016-07-19 14:28] acrolink commented on #44
Thank you very much @bryanjos for the clarification.

[2016-07-19 14:28] #44 closed

[2016-07-19 15:05] bryanjos commented on #44
No problem. I just published a patch that will throw a more informative error whenever encoding or decoding a value from the Geo.JSON module

[2016-09-13 22:30] nordbit opened #45 "Problem with encoding/decoding GeometryCollection"
[code]
I got "srid: nill", what i'm doing wrong when encoding GeometryCollection and why Geo can encode but can not decode?

[2016-09-13 23:07] bryanjos commented on #45
That's definitely a bug. I will take a look as soon as I can

[2016-09-14 06:45] nordbit commented on #45
NO problem with decoding data coded by GeoDjango:
[code]

[2016-09-14 14:25] bryanjos commented on #45
Fixed and published to hex as 1.1.2
https://hex.pm/packages/geo/1.1.2

[2016-09-14 14:25] #45 closed

[2016-09-14 21:30] KamilLelonek opened #46 "How to build custom type over Geo.Point?"
Is this the correct way of building a custom type with underlying `%Geo.Point{}`?

[code]

and then using it as:

[code]

[2016-10-04 19:36] bryanjos opened #47 "Update Ecto.DataType protocol test"
https://github.com/bryanjos/geo/blob/master/test/geo/ecto_test.exs#L164

lat should come before long in the geo struct

[2016-10-05 22:43] #47 closed

[2016-10-05 22:47] bryanjos commented on #46
@KamilLelonek sorry for taking so long to respond. If you haven't figured it out yet, I believe that would work. That is probably more of an Ecto question.

[2016-10-06 06:09] #46 closed

[2016-10-25 15:53] hut8 opened #48 "Add st_distance_sphere"
I'll be happy to submit a PR in the near future 😃

[2016-10-26 14:10] #48 closed

[2016-10-26 19:46] hut8 commented on #48
Thanks! 👍

[2016-12-16 21:18] bryanjos opened #52 "Update to support new extension API in Postgrex"
https://github.com/elixir-ecto/postgrex/blob/master/CHANGELOG.md#v0130-dev

[2016-12-19 19:51] #52 closed

[2016-12-22 13:04] boriscy opened #54 "Not working with ecto 2.1"
I have defined a file in my phoenix project in `lib/postgres_types.ex`
[code]
and also set the config `test.exs`

[code]

and generates this error
Compiling 1 file (.ex)

If I remove the extension (Geo.PostGIS.Extension) from `lib/postgres_types.ex` it compiles
[code]

[2016-12-22 13:57] bryanjos commented on #54
Hi, just to make sure, are you using geo version 1.3.0?

[2016-12-22 14:26] boriscy commented on #54
Thanks that was the problem, upgraded and working. needed to override poison for upgrade

[2016-12-22 14:26] #54 closed

[2016-12-24 16:45] eamonpenland opened #55 "Trying to run in dev- error: type geometry can not be handled"
Trying to run this package in dev, but I'm not sure how to get it configured properly:

**- created migration**
[code]

**- created point on new table column**
[code]

**- had to update poison for phoenix**
`{:poison, "~> 3.0", override: true},`

**- created postgres_types.ex file**
[code]

**- test.ex added types**
`types: LocalistApi.PostgresTypes`

**- get error ->**
`type `geometry` can not be

[2016-12-24 19:38] bryanjos commented on #55
I think the issue may be in your `postgres_types.ex` file. Replace `MyApp.PostgresTypes` with `LocalistApi.PostgresTypes`. In other words, make sure the module you define with `Postgrex.Types.define` and the value you give to the `types` parameter match.

On the poison dependency, I think I'm going to make an update to relax the version needed

[2016-12-24 19:42] eamonpenland commented on #55
Sorry they do match. I was trying to redact the name of my app but wasn't consistent.

[2016-12-24 22:45] eamonpenland commented on #55
ya i just can't figure out what I'm missing. is there an example of this working with the latest release of postgrex? I've found other examples of this library working with postgrex 12.1.0.

[2016-12-25 01:32] bryanjos commented on #55
You can look at this project for an example: https://github.com/bryanjos/geo_example

[2016-12-25 16:20] eamonpenland commented on #55
awesome! thanks for the quick response! At first your example project wasn't working, so i figured it was an env thing. brew upgraded updated everything and it worked. Thanks again!!

[2016-12-25 16:20] #55 closed

[2017-01-06 16:25] bryanjos opened #57 "Either make 0 the default SRID or remove SRID when creating WKT with SRID 0"

[2017-01-06 16:26] bryanjos opened #58 "Add ST_DWithin that casts to geography"
To allow searching distance in meters

[2017-01-13 15:29] aaboyd opened #59 "Missing LICENSE"
Could you add a LICENSE file to this repo?

I noticed some of your other code is MIT Licensed, is there any reason to believe this code would be any different?

[2017-01-13 15:33] bryanjos commented on #59
It's MIT: https://github.com/bryanjos/geo/blob/master/mix.exs#L46

If it makes sense to add a license file, I can add one

[2017-01-13 15:35] aaboyd commented on #59
No that works for me.  Sorry, I missed that.  Was looking for the LICENSE file in the root of the repo that you see so often.  As long as it has a license, I'm all set.

Thanks for the library!

[2017-01-13 15:35] #59 closed

[2017-01-13 15:48] bryanjos commented on #59
Thanks! I'll probably just add one anyway to make it clearer

[2017-01-14 13:35] steffenix opened #60 "Module Ecto.Adapters.Postgres is not available"
I was using 1.2.1 with elixir 1.2 and postgresx 0.12.
Now I am trying to update to 1.3.1 elixir 1.4 and postgresx 0.13

When I am configuring the types I am getting `Module Ecto.Adapters.Postgres is not available` before I was using the extension option, any clues?

[code]

[2017-01-14 18:06] bryanjos commented on #60
Hi, I'm not sure from the information given, but if you're using just Postgrex without Ecto then that line would be different. You wouldn't need to add `Ecto.Adapters.Postgres.extensions()`

If you are using it with Ecto than this might be an Ecto specific issue.

You can also have a look at this example project I made to setup geo with new ecto:
https://github.com/bryanjos/geo_example

[2017-01-14 22:32] choiway commented on #55
@eamonpenland I'm having the same series of errors. What did you end up upgrading / updating? Thanks.

[2017-01-15 07:10] steffenix commented on #60
Thanks for the example I will have a look, I was trying to use `Ecto.Adapters.Postgres.extensions()` in the config file.

[2017-01-22 11:43] opie4624 commented on #58
I ran into this issue tonight. I'm not entirely sure why it doesn't work when others do.

[2017-01-23 01:11] bryanjos commented on #60
@steffenix all good? If so I can close this issue

[2017-01-23 04:29] #60 closed

[2017-01-23 04:29] steffenix commented on #60
All good.

[2017-02-03 20:45] #57 closed

[2017-02-03 20:49] #58 closed

[2017-02-25 20:46] bglusman opened #65 "Test specific configuration not documented?"
Hi @bryanjos , thanks for the awesome work on this library!  It's been a smooth process using it so far, though admittedly I haven't done much yet.

I was trying to add acceptance tests to my prototype, snapshot in this branch: https://github.com/MasbiaSoupKitchenNetwork/open_pantry/tree/erroring_gis_specs

and though the geometry type is working fine in the app when running normally, it errors in

[2017-02-25 22:06] bryanjos commented on #65
Hi, I made a PR to your repo that I think should resolve the issue. https://github.com/MasbiaSoupKitchenNetwork/open_pantry/pull/9

[2017-02-25 22:10] bglusman commented on #65
Ahh, of course!  I knew there was something I s forgetting, if I'd set up tests more quickly would have remembered myself, thanks Bryan, sorry for stupidity!

[2017-02-25 22:10] #65 closed

[2017-02-25 22:44] bryanjos commented on #65
No worries :)

[2017-05-03 11:47] adityasanka opened #68 "Unable to add support for ST_ClosestPoint"
Hi @bryanjos, thanks for the awesome library. I am trying to add a macro to `lib/geo/postgis.ex` to support ST_ClosestPoint

[code]

I receive the following error while trying to use it with my queries
[code]

I am fairly new to elixir and postgis. Forgive me if this is a trivial mistake. Any guidance would of great help

[2017-05-04 00:09] bryanjos commented on #68
Everything looks right there as far as I can tell. Only thing I can think of is make sure the Postgrex types are set up. Do you get a similar error with `st_distance` in your query? Also maybe check that you have the postgis extension installed in postgres.

[2017-05-04 11:51] adityasanka commented on #68
Hi @bryanjos, thank you for the quick reply. The postgis extension is installed and has been enabled for this database.

I verified this by using `st_distance`
[code]

I have also have the Postgrex types setup using
[code]

I went ahead changed the above macro to the following, to check if issue is with "ST_ClosestPoint"
[code]
Everything worked fine with the following query
[code]

I am unable to

[2017-05-04 17:18] bryanjos commented on #68
Sounds like maybe it could be that the function isn't defined in postgis. Try doing a normal sql query with that function and see if you get a similar error

[2017-05-09 09:19] adityasanka commented on #68
Hi @bryanjos,

I was using the type `geography` while declaring schema for my tables. `ST_ClosestPoint` only works with `geometry`

[code]

Thanks Bryan.

[2017-05-09 09:19] #68 closed

[2017-06-10 17:35] Virviil opened #70 "Postgrex expected a binary, got %Geo.Point"
This query is working:
[code]

while this one returns error:
[code]

So, I'm totally confused. It seems to me that potgrex in both cases should either work or not work - because either cast or not cast to binary.

May be I'm mising something in the configuration, or you can navigate me where should I dig deeper to see where is the problem?

[2017-06-11 16:27] bryanjos commented on #70
@Virviil I'm not sure either with the information given. It may be a configuration problem. Are the two queries run in the same mix environment? Is there a simpler query you could run that shows it working or not working?

[2017-06-11 17:22] Virviil commented on #70
Yep, both queries in one session of `mix phoenix.server`

[2017-06-12 07:19] Virviil commented on #70
I can provide you any information, just don't know which

[2017-06-15 13:30] bryanjos commented on #70
@Virviil is that the query the Ecto runs? If so could you show me your Ecto query if possible?

[2017-06-15 15:02] Virviil commented on #70
No problem.

**SELECT Request**
[code]

[2017-06-30 16:07] bryanjos commented on #70
@Virviil sorry for the delayed response. I'm not sure what the issue is from looking at it. As far as I can tell from the SQL and from the Ecto query, it all looks correct. It may be a bug here, but not sure. Could also be something with Postgrex, but let's make sure first. What happens if you replace the called to `st_within` and `st_buffer` with fragments that call the underlying PostGIS functio

[2017-07-01 18:17] Virviil commented on #70
I tried to recreate the same bug with different versions of Postgrex - and
it still appears. After that I've tried to recreate the bug on another
computer - and it doesn't appear.
After that I found workaround - manually encode the Geo.Point struct into
string with Geo.Wrk.encode. And everything works.
So, I think that the problem is with some of the deps, but I totally don't
know which one.
On Fr

[2017-07-01 21:38] bryanjos commented on #70
Glad you were able to find a workaround. When I have some time I'll try to reproduce this and if I can I'll try to fix it.

[2017-07-08 23:53] samphilipd opened #72 "Does not correctly decode WKB"
Here is an example WKB (this came from a MySQL Geometry type column)

"000000000101000000000000000000F03F000000000000F03F"

[This online tool](https://rodic.fr/blog/online-conversion-between-geometric-formats/) correctly decodes it as a point. But Geo throws an error:

[code]

[2017-07-09 17:17] bryanjos opened #73 "Separate Postgrex extension into it's own library"
It is beneficial to some to have the WKB, WKT, and GeoJSON parts of Geo without the PostGIS parts. This is a proposal to make the PostGIS parts into it's own library. This would include the Postgrex extension along with the PostGIS macros. This would be a breaking change so Geo would be bumped to 2.0.0

[2017-07-09 17:31] samphilipd commented on #72
Closing this because the WKB is invalid... it contains a 32 bit integer at the beginning representing MySQL's internal format.

[2017-07-09 17:31] #72 closed

[2017-07-09 18:05] dpehrson commented on #73
That would be in line with the pattern that @dazuma took with rgeo/rgeo I believe.

It would be excellent if the community could build an group of libraries for all aspects of geospatial stuff in Elixir. Problems that I can think of off the top of my head:

- General geo object/algorithm library
- Storage-specific libraries (PostGIS, etc.)
- File format-specific libraries (GPX, Shapefile, GeoJSON,

[2017-07-11 06:05] samphilipd commented on #73
+1 for this. I am adding geometry support to mariaex and it would be nice to reuse the logic in this library without pulling in all of the Postgres-specific stuff.

[2017-07-15 21:03] bryanjos commented on #73
Published version 2.0.0 that removes the optional postgrex dependency. It does keep the Ecto Types though

[2017-07-15 21:03] #73 closed

[2017-08-02 14:57] jerel opened #74 "Allow properties to be added to Geo types"
Is there a PostGIS (or other) limitation that would prevent us from adding `properties` to the Geo structs?

For example it would be very nice to be able to do the following:

[code]

[2017-08-03 13:21] bryanjos commented on #74
There is no limitation that would prevent that. It would just be ignored unless used by something like the Geo.JSON module. I think adding properties is fine.

If another request for adding a GeoJSON specific item comes up, I'm leaning towards making something that follows the spec exactly that wraps around the Geo structs.

[2017-08-24 15:34] mattcree opened #75 "Postgrex expected %Postgrex.Point{}, got %Geo.Point"
I'm a bit new to Phoenix so bear with me. At the moment I'm just trying to manually enter some numbers into latitude and longitude form fields and have it add the location to the database.

I'm getting this error:

`Postgrex expected %Postgrex.Point{}, got %Geo.Point{coordinates: {4343, 2342342}, srid: 4326}. Please make sure the value you are passing matches the definition in your table or in you

[2017-08-24 16:16] mattcree commented on #75
Okay, after enabling/configuring the GeoPostGIS extension changing my migration type to ```:geometry``` and the schema type to ```Geo.Geometry``` it seems to allow me to add things to the database. Unfortunately I can't display them in a list because of this:

```protocol Phoenix.HTML.Safe not implemented for %Geo.Point{coordinates: {4343.0, 2342342.0}, srid: 4326}. This protocol is implemented fo

[2017-08-24 16:41] mattcree commented on #75
Okay, I'm using 'inspect' just for the sake of seeing my location in a table view etc.

Sorry for making you read all that -- but is there any way I might use the :point type and is there anything wrong with using the :geometry type?

[2017-08-25 18:04] larsbutler opened #76 "`srid` in GeoJSON output"
Hi! This isn't so much an issue, but rather, a question:

I see that GeoJSON output can contain an `srid` attribute:

`%Geo.Point{ coordinates: {30, -90}, srid: nil}`

This attribute isn't part of the official GeoJSON spec. How did you come to the decision to add it? I'm just asking because I'm working on a [very similar library for Python](https://github.com/geomet/geomet). I didn't initially sup

[2017-08-25 19:48] bryanjos commented on #76
@larsbutler Geo puts it in the `crs` section which is part of the geojson spec as far as I can tell, but we are probably not using it correctly in Geo: http://geojson.org/geojson-spec.html#coordinate-reference-system-objects

I know there is also the `properties` field. Would it not work there either?

[2017-08-28 11:04] larsbutler commented on #76
Ah, I misinterpreted the output; I thought you were putting the srid in an srid member like so:

`{"type": "Point", "coordinates": [30, 90], "srid": "4326"}`

But now I see that it's placed in a `crs` object:

[code]

It does seem that the `crs` section was removed from the official spec, according to https://tools.ietf.org/html/rfc7946#section-4. I wouldn't say your usage is incorrect, though. Be

[2017-09-02 17:15] bryanjos commented on #75
@mattcree looks like you found the answer to the geo-specific question. For the phoenix one, you will either probably want to format the Geo.Point struct into a string in order to see in html

[2017-09-02 17:15] #75 closed

[2017-09-02 17:28] bryanjos commented on #76
Thanks for pointing that out. Will probably have to make some changes here, but not sure exactly what just yet

[2017-09-07 08:15] narrowtux opened #77 "Geo.*.cast functions crash instead of returning :error"
Example:

[code]

crashes with

[code]

Instead, they should just return `:error`.

Also I noticed that it will even decode JSON first, however it still uses the decode function with a bang instead of catching the error. I know this is a bit more to code, but goes a long way because one can then return meaningful errors in APIs when the user supplies invalid JSON or GeoJSON.

[2017-09-07 16:50] bryanjos commented on #77
`cast` must follow whatever contract Ecto.Type has so there is a bug there. I'm not sure if changes should happen at Geo.JSON without causing a breaking change. If it's throwing an error now, it might make sense for it to continue to, but maybe a better kind of error.

[2017-09-08 09:40] narrowtux commented on #77
The contract of Ecto.Type is to return `:error` when you can't cast the values properly. Sadly you can't add more information as to why you can't cast them, which would be useful for more complex types such as all the Geo types.

However, I can't see myself using `try` every time I create a changeset for data with Geo types in it.

[2017-09-24 11:49] larsbutler commented on #74
@jerel

The [GeoJSON RFC states](https://tools.ietf.org/html/rfc7946#section-7.1) that "FeatureCollection and Geometry objects, respectively, MUST NOT contain a "geometry" or "properties" member." This came up in a [discussion I had with one of the RFC authors](https://github.com/geomet/geomet/issues/28#issuecomment-261363251).

It seems that the general theme here is a lack of support for metadat

[2017-10-04 08:38] larsbutler commented on #76
Hey @bryanjos, even though your approach uses a deprecated (but documented--in the old geojson spec) approach and there is no new spec to replace it, I think we can close this issue. For consistency I will follow your approach in [geomet](https://github.com/geomet/geomet/pull/32).

Thanks for the discussion!

[2017-10-04 08:38] #76 closed

[2017-10-04 21:53] niahoo commented on #74
Hi,

That's exactly what the `Feature` geojson type is for. It has two members, `geometry` and `properties`.

`FeatureCollection` has only one member (besides `type`) : `features :: [Feature]`.

Any plans to implement it ?

[2018-01-28 14:58] bryanjos commented on #70
Going to close this since there was a workaround and nothing has came up since

[2018-01-28 14:58] #70 closed

[2018-01-28 15:02] bryanjos commented on #74
I've been thinking about this a lot and I think instead of trying to shoehorn geojson features into the geometry types, maybe it would be cleaner to create struct(s) around geojson itself. Maybe that's a better direction to move towards

[2018-01-28 15:16] bryanjos commented on #77
Resolved in 2.1.0

[2018-01-28 15:16] #77 closed

[2018-01-29 00:19] niahoo commented on #74
But this is not stoehorning, the Feature type exists for this sole purpose : have geometry and properties in one entity ...

[2018-02-03 11:30] jaysson opened #80 "Implement Poison.Decoder"
Many times, it is a lot easier to return the record fetched from db in a controller like this:

[code]
However, the address has a `Geo.Point` field, and poison does not know how to decode it. It would be great if an implementation for `Poison.Decoder` could be added.

[2018-03-09 08:06] yordis commented on #80
@jaysson did you call

[code]

or whichever other field and see if it works?

Also, I don't believe this package should be tide to `Poison.Decoder`, what happened if I don't want to use Poison for my JSON encoding and decoding? That is the reason why Poison is added as optional deps.

Also, you could do something like

[code]

[2018-03-10 19:22] yordis commented on #80
Actually looking the code I think that this package depends of Poison instead of being configurable ...

[2018-03-11 00:04] yordis opened #84 "Move Ecto specific code to geo_ecto"
Many of the modules depends of Ecto just for the types,

from the Core perspective, Geo doesn't need to implement something related to Ecto. Most of the Geo packages could become leaner so it will become more easier to maintain the core of the package.

Also,

Moving this to independent package is welcoming to more advance code for Ecto related stuff, for example.

https://github.com/bryanjos/geo/

[2018-03-11 17:38] bryanjos commented on #84
`Ecto.DataType` protocol might be an alternative. But not sure how that effects things.

So I guess I'm willing to see `Ecto.DataType` implemented instead as long as things work as is, or the differences are known and documented

[2018-03-11 17:40] bryanjos commented on #74
Looking at the spec and thinking on it a bit, I think adding `properties` to the types should be fine.

[2018-03-12 01:33] yordis commented on #84
@bryanjos the concern I have is when I dont want to GeoJSON as my formatting for example.

Because of this, when you do `field :name, Geo.[Type]` we will need to have 3 different types for `Point` for example.

`Geo.JSON.Point`, `Geo.WKT.Point`, `Geo.WKB.Point` unless we use a generic one that fallbacks back to each formatter (which I would like to not do that).

Unless we roll with just one and c

[2018-03-14 02:11] bryanjos commented on #84
I'm not sure I understand what is meant, having three structs for the same type isn't something I'm willing to accept. Unless there is a way to move the ecto-specific code to geo_ecto and keep functionality the same, I would say to keep things the same until a time where it is possible

[2018-03-14 02:13] bryanjos commented on #84
I can do some exploratory work to see if it's possible

[2018-03-14 02:23] yordis commented on #84
@bryanjos I dont need 3 different ecto types for each data type but don't forget that some people could be interested in specific formatter over GeoJSON, that is why I am bringing it into the table so we think about it.

[2018-03-18 14:34] yordis opened #86 "Improve WKB and WKT encoder/decoder"
We should try to follow the convention of the JSON parser where we have the `!` functions that raise an error and the regular one that give a tuple back

WKB
- [ ] Add encode!
- [ ] Add encode
- [ ] Add decode
- [ ] Add decode!

WKT
- [ ] Add encode!
- [ ] Add encode
- [ ] Add decode
- [ ] Add decode!

[2018-03-20 18:08] anagromataf opened #87 "Using geometry types with sqlite_ecto2"
I'm currently using this library together with a PostgreSQL database (using PostGIS). There I have a schema with a field using `Geo.Point`.

[code]

This works perfectly.

Now I need to provide support for a sqlite database. When I only change the adapter I get the following issue (I stored the coordinate as GeoJSON and also tried WKB):

[code]

I played around a bit and could solve the issue by a

[2018-04-12 23:07] #84 closed

[2018-04-12 23:08] bryanjos commented on #84
@yordis I was able to move ecto code to geo_postgis completely

[2018-04-12 23:15] bryanjos commented on #87
Actually, probably not anymore (sorry I just merged in some changes to master). But maybe in geo_postgis for now since that's where that code will live

[2018-04-13 00:03] bryanjos commented on #74
Fixed in 4647ed357a0ffdb3376c64204d9b79521caef67e

[2018-04-13 00:03] #74 closed

[2018-04-14 12:59] bryanjos commented on #86
Fixed in 8a9d471d48771d1233073997b5bff0436e8249f3

[2018-04-14 12:59] #86 closed

[2018-04-14 13:00] bryanjos commented on #80
This is no longer applicable here

[2018-04-14 13:00] #80 closed

[2018-04-14 13:00] #87 closed

[2018-05-30 15:33] callmeahab opened #89 "Issue parsing geometry"
I'm getting no match error querying geometry with geo_postgis.
[code]

I tried debugging and found that the following hex was causing the error: `"7FF8000000000000"`

I also wrapped that part of code with try catch block, and it to be working but the query is too slow: https://github.com/callmeahab/geo/blob/master/lib/geo/utils.ex#L41

Any suggestions on how to fix this issue?

[2018-08-28 14:19] bryanjos commented on #89
@callmeahab sorry I'm just getting around to responding. Have you found out on your own the solution? If not, what of geometry is specifically causing the issue?

[2018-08-28 15:11] dongli opened #90 "Geo.JSON does not support PointZ"
First of all, thanks for such great library! I am using it to store spherical coordinates with height, but I found that `Geo.JSON.encode` does not support PointZ. I am new to Elixir and Phoenix, so any suggestion is welcome! I can separate height from longitude and latitude, but that looks not clean since height is part of a coordinate.

[2018-08-28 18:17] bryanjos commented on #90
Hi! You are correct in it's not supported, but only because I don't know how it should be displayed. I remember looking at the GeoJSON spec and not getting any clues. I'm open to suggestions

[2018-09-04 09:48] callmeahab commented on #89
@bryanjos This started happening to me after I did some upgrade (geo, ecto, postgrex), it was a while ago so I don't exactly remember though.

I just reverted package updates and it kept working, however what I remember was that the geometry that was causing the issue was invalid.

[2019-01-02 15:39] #89 closed

[2019-01-02 15:39] #90 closed

[2019-02-12 08:12] FlorianGerhardt commented on #90
Hey @dongli, this was implemented in geo 3.1.0.

[2019-04-25 05:10] worace commented on #90
Hi there -- sorry to revive this closed issue, but I am wondering if there is any more thought around extending Z-coordinate support more broadly to other geometry types.

If I understand correctly from the [this pull request](https://github.com/bryanjos/geo/pull/99/files) it looks like these are currently handled for Points using a dedicated `Geo.PointZ`, which gets serialized to GeoJSON as `{"ty

[2019-04-25 16:19] bryanjos commented on #90
I'll have to take a deeper look. I originally intended for it to work as with coordinates can be n-tuple because not all projections are the same and there are different dimensions.

There may need to be some rethinking on that. Maybe the workaround for now is to make it so when 3 coordinate are found, it makes it into a pointz.

I'm just thinking out loud right now but will think some more on it

[2019-05-07 00:37] JonGretar commented on #90
Section 4 of [rfc7946](https://tools.ietf.org/html/rfc7946#section-4) has this to say about it:

   be the height in meters above or below the WGS 84 reference
   ellipsoid.  In the absence of elevation values, applications
   sensitive to height or depth SHOULD interpret positions as being at
   local ground or sea level.

The problem is that this applies to all geometries. Not only `Point` geome

[2019-05-07 00:50] JonGretar commented on #90
If you choose not to have generic support of 3 element coordinates I would recommend the JSON encoder/decoder to do the following:

Encoder:

 * `%Point{}` -> `{"type": "Point", "coordinates": [1,2]}`
 * `%PointM{}` -> `{"type": "Point", "coordinates": [1,2]}`
 * `%PointZ{}` -> `{"type": "Point", "coordinates": [1,2, 3]}`
 * `%PointZM{}` -> `{"type": "Point", "coordinates": [1,2, 3]}`

Decoder:

[2019-08-06 11:21] aseigo opened #115 "is .tool-versions necessary?"
There is an asdf .tool-versions file in the repository. It encodes the following versions:

 erlang 21.1
 elixir 1.7.4-otp-21

both of which are somewhat old by now. More annoyingly, it means that if using asdf (as I do :), unless those exact versions are installed on the system it will not build. I am not sure if those versions are meant as a minimum version of erlang/elixir that must be supporte

[2019-08-06 11:48] bryanjos commented on #115
It can be removed and placed in .gitignore

[2019-08-13 14:07] #115 closed

[2019-09-07 12:56] achedeuzot opened #119 "Support for `Feature` and `FeatureCollection` to Geo.JSON"
Hi @bryanjos ,

Thanks for this awesome library. Would it be possible to add the support for `Feature` and `FeatureCollection` to follow the specs of https://tools.ietf.org/html/rfc7946#section-3.2 ?

I see something similar exists in the library (see #74) with `GeometryCollection` with properties but it's not compatible with GeoJSON specs. I've been working with multiple GeoJSON files recently an

[2019-11-16 22:35] wojtekmach opened #121 "Geo.WKB and raw binaries"
Hey! I'm planning to introduce `Geo.WKB.encode_to_iodata/2` and `decode_iodata/1` that work on "raw" iodata (as opposed to currently handling base-16 encoded strings). In MyXQL we get raw binaries on the wire so with this we'd avoid an extra conversion to base16. With Postgrex we'd get too if we change https://github.com/bryanjos/geo_postgis/blob/master/lib/geo_postgis/extension.ex#L66 to `:binary

[2019-11-16 22:38] bryanjos commented on #121
Hi @wojtekmach that sounds reasonable and I always had a feeling there was a better way to do it. Go for it! And thanks!

[2020-02-13 17:23] kenichi commented on #119
@achedeuzot #126 has been merged, and i'm curious if it will meet your needs?

[2020-02-18 21:27] achedeuzot commented on #119
Awesome @kenichi ! Thanks to your PR & @bryanjos for merging it into the lib ! I'll use it right away :D

[2020-02-18 21:27] #119 closed

[2020-04-28 14:34] gworkman opened #129 "GeoJSON default SRID not set"
It seems that the SRID of a geometry parsed from geojson is not set to the default of 4326, [as defined by the spec](https://tools.ietf.org/html/rfc7946#section-4). I've run into this issue because I am parsing a geojson object and performing a query with it using the great geo_postgis lib. However, when the database's column SRID is 4326, I get an error that it cannot compare the two geometries b

[2020-05-03 07:51] FractalWire opened #131 "The new 'Feature' does not retain the SRID property when encoding"
With the latest and hottest version of the library, if we encode a geometry with the 'feature: true' argument, the SRID property is not encoded.

**Current behaviour:**

[code]

**Without feature: true**

[code]

**Expected behaviour:**

[code]

[2020-05-05 23:09] ilyashuma opened #133 "Flatten GeometryCollection into non-complex geometries"
I ran into a need to flatten complex `GeometryCollection` into a non-complex `MultiPolygon` geometries.

I'm wondering if there is a place in `geo` for this feature (maybe, `lib/geo/utils.ex`?). Or probably it would be a better fit for https://github.com/pkinney/topo?

I'd be happy to contribute some code, just want to make sure it fits the project needs.

[2021-04-06 22:00] bryanjos commented on #121
@wojtekmach hey I've been thinking about this a lot and I think I may slowly take this on. Doing a small benchmark I can see there are some performance gains in doing so

[code]

[2021-04-06 22:11] wojtekmach commented on #121
Yeah, I kept putting this off. Thanks for looking into it!

[2021-04-08 22:29] bryanjos commented on #121
@wojtekmach thanks for motivating me to change this! I made a PR with the changes if you want to take a look.

https://github.com/bryanjos/geo/pull/156

[2021-04-09 09:54] wojtekmach commented on #121
Closing in favour of the PR!

[2021-04-09 09:54] #121 closed

[2021-04-30 09:34] bitboxer commented on #129
I solved this by setting the `srid` manually after decoding:

[code]

[2021-05-27 12:12] D4no0 opened #160 "Add box2d type"
I am trying to do a `select st_envelope(...)::box2d` and I get the error:

[code]

[2021-05-27 13:38] bryanjos commented on #160
We don't have any support for box2d yet. I just did a quick search on trying to figure out how what the specs are for it but haven't found anything yet. But yes, support should be added

[2021-09-10 18:33] axelson opened #163 "Unable to decode WKB of MultiLineString with no coordinates"
Geo is currently unable to decode a MultiLineString that has an empty list of coordinates (although it is able to encode it):
[code]

The WKB that is generated is `"000000000500000001000000000200000000"`, which appears to be valid and on an online conversion website (https://rodic.fr/blog/online-conversion-between-geometric-formats/) it decodes to `{"type":"MultiLineString","coordinates":[[]]}`.

[2021-10-11 05:21] mazz opened #165 "ArgumentError in Geo.WKB.Encoder.do_encode/2(geo 3.4.2)"
I'm adding a ZipCode table and during the process of migrating zipcodes from a CSV that contains coordinate information and inserting them into the db I'm encountering an ArgumentError in Geo.WKB.Encoder .. not sure what this means.

I'm on erlang 24.0.3, elixir 1.12.2. Using geo 3.4.2 and  geo_postgis 3.4.0

the migration:

`https://github.com/akoutmos/elixir_monitoring_prom/blob/103c868fcc89284a

[2021-10-11 16:06] mazz commented on #165
That was it thanks. This solved my issue.

[code]

[2021-10-11 16:06] #165 closed

[2021-12-13 05:52] jnylen opened #167 "Multi Linestring with 'EMPTY' in the point throwing error"
Hi,

Lovely lirary but we are having an issue with MULTILINESTRINGs where it includes "EMPTY" in it similar to:
[code]

It would then throw this error:

[code]

[2021-12-13 15:23] bryanjos commented on #167
Hi, thanks for bringing this up. I didn't know EMPTY was a thing. I can look into it but I will also take any PRs to resolve this.

[2021-12-15 17:08] #163 closed

[2022-09-28 15:59] LostKobrakai opened #175 "GeoJSON coordinates are not check nor converted to a numeric value"
When creating a new integration a co-worker of mine sent coordinates as strings in the GeoJSON format. The spec is not really clear in defining the concrete JSON type required, but calling it `decimal type`.

I'd expect geo to either parse string values to float (or `Decimal`) or fail to decode if the coordinates are strings. The first option is likely more correct.